# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules/
package-lock.json
.env

# testing
coverage/

npm-debug.log*

.DS_Store
.vscode

# build
output/

#db data
db/
